#Section1 {
  background-color: #0174DF;
  height: 120px;
}
#Section2 {
  background-color: #8A0886;
}
#Section3 {
  background-color: #FE2EF7;
}
#legend1 {
  background-color: #0174DF;
}
#legend2 {
  background-color: #8A0886;
}
#legend3 {
  background-color: #FE2EF7;
}
